@import "tailwindcss";

:root {
  --background: #0a0c0f;
  --foreground: #ffffff;

  /* Fuentes */
  --font-general-family: "General Sans", sans-serif;
  --font-switzer-family: "Switzer", sans-serif;

  /* Colores de marca */
  --color-brand-main: #3269ff;
  --color-brand-secondary: #2a326b;
  --color-brand-assets: #313032;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-main: var(--color-brand-main);
  --color-brand-secondary: var(--color-brand-secondary);
  --color-brand-assets: var(--color-brand-assets);

  /* REGLAS DE FUENTES */
  --font-sans: var(--font-general-family);
  --font-switzer: var(--font-switzer-family);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
